.resultItem {
  width: 60%;
  margin: 0 auto;
  border: 2px solid lightgrey;
  padding: 10px;
}

.content {
  display: flex;
  justify-content: space-between;
}

h2 {
  text-align: center;
}

.author {
  display: block;
}

a {
  color: black;
}

img {
object-fit: scale-down;
margin-right: 10px;
}